<div class="footer">
			<div class="footer-inner">
				<!-- #section:basics/footer -->
				<div class="footer-content">
					<span class="bigger-120"> <span class="blue bolder">机构名称</span>
						数据库查询工具 &copy; 2015-2020
					</span>
				</div>

				<!-- /section:basics/footer -->
			</div>
		</div>